.details {
    display: grid;
    grid-template-rows: 43px 1fr 59px 284px;
    grid-auto-columns: 100%;
    height: 95%;
    padding: 1em;
    justify-content: center;
    max-height: 1000px;
    max-width: 800px;
    margin: 0 auto;
    &-participants {
        position: relative;
        > ul {
            list-style: none;
            padding: unset;
            margin: unset;
            li {
                position: relative;
                font-size: 18px;
                padding-left: 1em;
                height: 2em;
                cursor: pointer;
                &::before {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 50px;
                    font-size: 12px;
                    transform: translate(-5px, 6px);
                    content: '✔️';
                }
                &.selected::before {
                    font-size: 14px;
                    content: "🏓";
                }
                >.remove {
                    font-size: 12px;
                    padding: 2px 10px;
                    margin-left: 2em;
                    background-color: transparent;
                    position: absolute;
                    right: 0;
                    border: 1px solid #eee;
                }
            }
        }
        .header {
            display: flex;
            justify-content: space-between;
            button {
                background-color: transparent;
                outline: none;
                border-color: transparent;
                padding: 0;
                height: 2em;
                margin-top: 1em;
                border: 1px solid #eee;
                padding: 0 2px 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(2px);
            }
        }
        > button {
            position: absolute;
            right: 0;
            bottom: -50px;
            padding: 3px;
            border: 1px solid #eee;
        }
    }
    &-tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .table {
            &::after {
                content: '';
                height: 100%;
                width: 2px;
                background: #00ff0042;
                position: absolute;
                left: 50%;
            }
            .who {
                > div {
                    text-align: center;
                }
                bottom: 0;
                left: 25px;
            }
        }
    }
    &-date {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        border-radius: 6px;
        box-shadow: 1px 1px 10px #a0d0aa;
        padding: 5px;
        position: relative;
        span {
            position: absolute;
            cursor: pointer;
            &:first-of-type {
                left: 20px;
            }
            &:only-child, &:last-of-type {
                right: 20px;
                left: initial;
            }
        }
    }
}