@keyframes pulsate {
    0% { 
        box-shadow: 1px 1px 10px red;
    }
    100% { 
        box-shadow: 1px 1px 10px lime;
    }
}

@keyframes rowIndicator {
    50% { 
        color: lime;
        // padding-left: 30px;
    }
}

.details {
    display: grid;
    grid-template-rows: 43px 1fr 59px 284px;
    grid-auto-columns: 100%;
    height: 95%;
    padding: 1em;
    justify-content: center;
    max-height: 1000px;
    max-width: 800px;
    margin: 0 auto;
    
    &-participants {
        position: relative;
        > ul {
            list-style: none;
            padding: unset;
            margin: unset;
            @media screen and (max-width: 500px) {
                max-height: calc(100dvh - 43px - 65px - 284px - 30px - 80px);;
                overflow: scroll;
            }
            li {
                display: flex;
                align-items: center;
                position: relative;
                font-size: 18px;
                padding-left: 1em;
                height: 2em;
                cursor: pointer;
                &::before {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 50px;
                    font-size: 12px;
                    transform: translate(-5px, 1px);
                    content: '✔️';
                }
                &.selected::before {
                    font-size: 14px;
                    content: "🏓";
                }
                >.remove {
                    font-size: 12px;
                    padding: 2px 10px;
                    margin-left: 2em;
                    background-color: transparent;
                    position: absolute;
                    right: 0;
                    border: 1px solid #eee;
                }
                &.self {
                    box-shadow: 0 0 3px transparent;
                    animation: rowIndicator 1.5s ease-in-out;
                    animation-iteration-count: 2;
                }
            }
        }
        .header {
            display: flex;
            justify-content: space-between;
            button {
                background-color: transparent;
                outline: none;
                border-color: transparent;
                padding: 0;
                height: 2em;
                margin-top: 1em;
                border: 1px solid #eee;
                padding: 0 2px 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(2px);
            }
        }
        > button {
            position: absolute;
            right: 0;
            bottom: -50px;
            padding: 3px;
            border: 1px solid #eee;
        }
    }
    &-tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .table {
            &::after {
                content: '';
                height: 100%;
                width: 2px;
                background: #00ff0042;
                position: absolute;
                left: 50%;
            }
            .who {
                > div {
                    text-align: center;
                }
                bottom: 0;
                left: 25px;
            }
        }
    }
    &-date {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        border-radius: 6px;
        box-shadow: 1px 1px 10px #a0d0aa;
        padding: 5px;
        position: relative;
        &.next {
            animation: pulsate 2s ease-in-out;
            animation-iteration-count: 1;
        }
        span {
            position: absolute;
            cursor: pointer;
            &.title {
                display: inline-block;
                max-width: calc(100dvw - 140px);
                overflow: hidden;
                white-space: nowrap;
                direction: rtl;
            }
            &:first-of-type:not(.title){
                left: 20px;
            }
            &:only-child, &:last-of-type {
                right: 20px;
                left: initial;
            }
        }
    }
}