.addGuest {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background-color: #88888891;
    }
    h3 {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        height: max-content;
        margin-top: 25%;
        background: white;
        padding: 3em;
        max-width: min(90%, 590px);
        margin: 25% auto;
        border-radius: 8px;
        input {
            height: 35px;
        }   
        button {
            margin-top: 2em;
            border: 1px solid #eee;
            color: #333;
        }
    }
    .action{
        display: flex;
        justify-content: space-around;
        button {
            width: 30%;
            &.ok {
                border-color: rgba(77, 134, 77, 0.293);
                color: green;
                &:hover, &:active {
                    border-color: lime;
                }
            }
            &.bad {
                background-color: rgba(255, 192, 203, 0.275);
                &:hover, &:active { 
                    border-color: red;
                    color: red;
                }
            }
        }
    }
}