.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 300px;
    max-width: 800px;
    margin: 100px auto;
    outline: 1px solid #aaaaaa38;
    box-shadow: 0px 0px 14px #eee;
    position: relative;

    form {
        display: flex;
        flex-direction: column;
        input {
            height: 35px;
            display: inline-block;
            margin-left: 20px;
            font-size: 18px;
            padding-left: 5px;
        }
        label {
            position: relative;
            font-size: 18px;
            & + label {
                margin-top: 2em;
            }
            .error {
                color: red;
                position: absolute;
                left: 0;
                bottom: -2px;
                bottom: -23px;
                right: 0;
                left: auto;
                &::first-letter {
                    text-transform: uppercase;
                    font-weight: bolder;
                }
            }
        }
        button {
            font-size: 18px;
            margin-top: 2em;
            border: 1px solid rgba(0, 0, 255, 0.411);
        }
        a {
            position: absolute;
            bottom: 6px;
            right: 12px;
        }
    }
    &.register {
        height: 330px;
        form {
            position: relative;
            width: 280px;
            height: 240px;
            input {
                max-width: 200px;
                position: absolute;
                right: 0;
            }
            button {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            label .error {
                font-size: 15px;
                bottom: -35px;
            }
            .conf {
                color: transparent;
            }
            a {
                position: absolute;
                bottom: 0;
                right: 0;
                transform: translate(40px, 40px);
            }
        }
    }
}