.users {
    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 1em;
        box-shadow: 1px 1px 5px #7d7d7da8;
        padding: 1em;
    }
    ul {
        list-style-type: none;
        margin-left: 0;
        padding: 0 .5em;
        li {
            max-width: 400px;
            display: flex;
            justify-content: space-between;
            line-height: 2em;
            &:hover, &:active {
                background-color: #aaa;
            }
        }
    }
    .title {
        text-align: center;
    }
    .home {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
    }
    button.transparent {
        background-color: transparent;
        border: none;
        padding: 0;
        outline: none;
        cursor: pointer;
    }
}