svg {
    path {
        fill: #aaa;
    }
    &.facebook {
        path:first-child {
            fill: #0866FF !important;
        }
        path:last-child {
            fill: #fff !important;
        }
    }
}
